.footer {
    color: grey;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    user-select: none;
    text-align: center;
}

.todoform {
    top: 500;
    margin: auto;
    background-color: #007bff9c;
    width: 50%;
}
.header {
    user-select: none;
}
.flexible {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: "center";
}
.todo-item {
    flex: 1;
}
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}
